@font-face {
	font-family: 'Sora';
	src: url("../fonts/Sora-Regular.ttf") format("truetype");
	font-display: swap;
	font-weight: normal;
	font-style: normal; }

@font-face {
	font-family: 'Sora';
	src: url("../fonts/Sora-Thin.ttf") format("truetype");
	font-display: swap;
	font-weight: 100;
	font-style: normal; }

@font-face {
	font-family: 'Sora';
	src: url("../fonts/Sora-Light.ttf") format("truetype");
	font-display: swap;
	font-weight: 300;
	font-style: normal; }

@font-face {
	font-family: 'Sora';
	src: url("../fonts/Sora-SemiBold.ttf") format("truetype");
	font-display: swap;
	font-weight: 600;
	font-style: normal; }

@font-face {
	font-family: 'Sora';
	src: url("../fonts/Sora-Bold.ttf") format("truetype");
	font-display: swap;
	font-weight: 700;
	font-style: normal; }

@font-face {
	font-family: 'Sora';
	src: url("../fonts/Sora-ExtraBold.ttf") format("truetype");
	font-display: swap;
	font-weight: 800;
	font-style: normal; }