header.header
  .container
    a.logo(href='https://solatars.com/')
      img.lazyload(data-src=require('../../images/logo.svg') src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt='image')
    .socials
      a(href='https://twitter.com/solatars' target='_blank')
        img.lazyload(data-src=require("../../images/twitter.svg") src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt='image')
      a(href='http://discord.gg/solatars' target='_blank')
        img.lazyload(data-src=require("../../images/discord.svg") src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' alt='image')
